<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="doLogin()">
    <ion-item>
      <ion-input [(ngModel)]="form.username" name="username" required type="text" placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="form.password" name="password" required type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button shape="round" color="primary" fill="outline" type="submit">Submit</ion-button>
  </form>
  
  <div>
    <a>Create Account</a>
  </div>
  <div>
    <a>Code of Conduct</a>
  </div>
</ion-content>